body {
    font-family: "Roboto", sans-serif;
    width: 1920px;
    height: 1280px;
    color: whitesmoke;
}

/* Key frames */

@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

/* title */

.title-container{
    width: 250px;
    height: 250px;
    margin: 0px auto 0px auto;
}

.title {    
    font-size: 40px;  
    margin-top: 25px;
}

/* left side */

.left-container {
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 350px;
    margin-left: 150px;
    margin-top: -50px;
}

.left-text-title {
    font-size: 24px;
}

.left-text {
    
    visibility: hidden;
    font-size: 18px;
}

/* middle container */

.middle-container {
    display: inline-block;
    text-align: center;
    width: 48%;
    height: 350px;
    margin: 0px auto 0px auto;
}

.middle-text-title {
    font-size: 24px;
}

.middle-text {
    font-size: 18px;
}

/* hovers */

/* text fade in when left title hovered */
.left-text-title:hover + .left-text{
    visibility: visible;
    animation: fadeIn 5s;
}

.left-text-title:hover {
    text-decoration: underline;
}

